body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

form{
    width: 370px;
    height: 370px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}